<div class="row">
  <div class="col-xs-6">
    <h4>Appointment Type</h4>
    <ul class="list-group">
      <li class="list-group-item">
        {{type}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h4>Service Option</h4>
    <div class="list-group">
      {{#each service_options as |so|}}
          {{#link-to 'service-option' so class="list-group-item"}}
            {{so.name}}
          {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>
