<div class="row">
  <div class="col-xs-6">
    <h2>Appointment Type</h2>
    <ul class="list-group">
      {{#each types as |type|}}
        <li class="list-group-item">
          {{#link-to 'appointment-type' type}}
            {{type}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
