<div class="row">
  <div class="col-xs-6">
    <h4>Appointment Type</h4>
    <div class="list-group">
      {{#each types as |type|}}
          {{#link-to 'appointment-type' type class="list-group-item"}}
            {{type}}
          {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>
