<div class="row">
  <div class="col-xs-6">
    <h2>Appointment Type</h2>
    <ul class="list-group">
      <li class="list-group-item">
        {{model.service_option.type}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h2>Service Option</h2>
    <ul class="list-group">
      <li class="list-group-item">
        {{model.service_option.name}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h2>Clinic</h2>
    <ul class="list-group">
      <li class="list-group-item">
        {{model.name}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h2>Week</h2>
    <ul class="list-group">
    </ul>
  </div>
</div>
