<div class="row">
  <div class="col-md-12">
    {{#link-to 'search-patient' class="btn btn-default btn-lg btn-block"}}Search Patient{{/link-to}}
    {{#link-to 'appointment-types' class="btn btn-default btn-lg btn-block"}}Book Appointment{{/link-to}}
    {{#link-to 'index' class="btn btn-default btn-lg btn-block"}}Start / Stop Clinic{{/link-to}}
    {{#link-to 'index' class="btn btn-default btn-lg btn-block"}}Today's Appointments{{/link-to}}
  </div>
</div>

