<h3>Login</h3>

<div class="row">
  <div class="col-md-12 text-center">
    <img alt="SMART" src="assets/images/cm_logo_large.png">
    <h4>COMMUNITY</h4>
    <h4><b>MIDWIVES</b></h4>
    <h5>SMART</h5>
    <p class="text-primary">
      Secure Maternity Appointment Recording Tracker
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    {{login-form}}
  </div>
  <div class="col-md-12 text-center">
    <p>
      &#169; National Maternity Hospital, Ireland
      <br/>
      <a href="http://www.theproduct.works/projects/current/smart-app/">About</a>
    </p>
  </div>
</div>

