<h3>{{model.name}}</h3>

Clinics:

<ul>
  {{#each model.clinics as |clinic| }}
    <li>
      {{#link-to "clinic" clinic}}
        {{clinic.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{outlet}}
