<div class="row">
  <div class="col-xs-6">
    <h2>Appointment Type</h2>
    <ul class="list-group">
      <li class="list-group-item">
        {{model.type}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h2>Service Option</h2>
    <ul class="list-group">
      <li class="list-group-item">
        {{model.name}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h2>Clinic</h2>
    <ul class="list-group">
      {{#each model.clinics as |clinic|}}
        <li class="list-group-item">
          {{#link-to 'clinic' clinic}}
            {{clinic.name}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
